@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@100&display=swap');

.logo{
  font-family: 'Karla', sans-serif;
}

.font{
  font-family: 'Karla', sans-serif;
}

.glass_card{
  height: auto;
  border-radius: 1rem;
  background: rgba(211, 211, 211, 0.816);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}